.entity {
	display: inline-block;
	text-align: center;
}
.centerEntity {
	display: inline-block;
}
#BeanTree {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/trant_bean__f_cap_10_f_num_10_h_10_m_10_seed_0_191991191_png_1354829669.png');
	background-position: 594px 270px;
	background-size: 247.5px 945px; /*990 / 4, 3780 / 4*/
	width: 49.5px; /*198 / 4*/
	height: 67.5px; /*270 / 4 */
}
#BubbleTree {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/trant_bubble__f_cap_10_f_num_10_h_10_m_10_seed_0_119919911_png_1354830301.png');
	background-position: 167px 277px;
	background-size: 793.25px 277px;/*3173 / 4, 1108 / 4*/
	width: 41.75px; /* 167 / 4*/
	height: 69.25px; /* 277 / 4*/
}
#EggPlant {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/trant_egg__f_cap_10_f_num_10_h_10_m_10_seed_0_11191191_png_1354829638.png');
	background-position: 296px 278px;
	background-size: 814px 347.5px;
	width: 74px; /* 296 / 4 */
	height: 69.5px; /* 278 / 4*/
}
#FruitTree {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/trant_fruit__f_cap_10_f_num_10_h_10_m_10_seed_0_111119119_png_1354830686.png');
	background-position: 271px 249px;
	background-size: 1016.25px 249px;
	width: 67.75px; /* 271 / 4 */
	height: 62.25px; /* 249 / 4*/
}
#GasPlant {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/trant_gas__f_cap_10_f_num_10_h_10_m_10_seed_0_19191191_png_1354830919.png');
	background-position: -2760px 258px;
	background-size: 966px 258px;
	width: 69px; /*276 / 4*/
	height: 64.5px; /*258 / 4*/
}
#PaperTree {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/paper_tree_needs_pet_false_needs_water_false_paper_count_21_x22_1_png_1354832565.png');
	background-position: 696px 216px;
	background-size: 232px 324px;
	width: 58px; /* 232/4*/
	height: 54px; /*216/4*/
}
#SpicePlant {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/trant_spice__f_cap_10_f_num_10_h_10_m_10_seed_0_191119119_png_1354830969.png');
	background-position: 318px 250px;
	background-size: 874.5px 375px;
	width: 79.5px; /*318/4*/
	height: 62.5px; /*250/4*/
}
#WoodTree {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/wood_tree_maturity_6_variant_2_x6_1_png_1354833445.png');
	background-position: 88px 138px;
	background-size: 132px 34.5px;
	width: 22px; /*88/4*/
	height: 34.5px; /*138/4*/
}
#BerylRock {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/rock_beryl_x1_5_x1_4_x1_3_x1_2_x1_1__1_png_1354831451.png');
	background-size: 167.5px 30px;
	width: 33.5px; /*134/4*/
	height: 30px; /*120/4*/
}
#DulliteRock {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/rock_dullite_x1_5_x1_4_x1_3_x1_2_x1_1__1_png_1354831459.png');
	background-size: 163.75px 28.5px;
	width: 32.75px; /*131/4*/
	height: 28.5px; /*114/4*/
}
#MetalRock {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/rock_metal_x1_5_x1_4_x1_3_x1_2_x1_1__1_png_1354832615.png');
	background-size: 171.25px 25px;
	width: 34.25px; /*137/4*/
	height: 25px; /*100/4*/
}

#SparklyRock {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/rock_sparkly_x1_5_x1_4_x1_3_x1_2_x1_1__1_png_1354831467.png');
	background-size: 163.75px 31.75px;
	width: 32.75px; /*131/4*/
	height: 31.75px; /*127/4*/
}
#Garden {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/garden_new/garden_new__x1_1_png_1354833270.png');
	background-size: 100% 100%;
	width: 40.5px; /*81/2*/
	height: 21.5px; /*43/2*/
}
#Patch {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/patch__x1_1_png_1354829604.png');
	background-size: 100% 100%;
	width: 57.5px; /*115/2*/
	height: 16px; /*32/2*/
}
#DarkPatch {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/patch_dark__x1_1_png_1354831151.png');
	background-size: 100% 100%;
	width: 57.5px; /*115/2*/
	height: 16px; /*32/2*/
}
#DirtPile {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/dirt_pile_dirt_state_x11_1_variant_dirt1_1_png_1354833756.png');
	background-size: 195px 53.25px;
	width: 48.75px; /*195/4*/
	height: 17.75px; /*71/4*/
}
#PeatBog {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/peat_x1_5_x1_4_x1_3_x1_2_x1_1__1_png_1354832710.png');
	background-size: 158.25px 26px;
	width: 52.75px; /*211/4*/
	height: 13.25px; /*52/4*/
}
#Firefly {
	background-image: url('http://c2.glitch.bz/items/2012-12-06/npc_firefly__x1_fullPath_png_1354833043.png');
	background-size: 435px 180px;
	width: 43.5px; /*87/2*/
	height: 20px; /*40/2*/
}
#Img {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/quoin/quoin__x1_1_x1_2_x1_3_x1_4_x1_5_x1_6_x1_7_x1_8_png_1354829599.png');
	width: 40px;
	height: 45px;
}
#Mood {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/quoin/quoin__x1_1_x1_2_x1_3_x1_4_x1_5_x1_6_x1_7_x1_8_png_1354829599.png');
	background-position: 0px -45px;
	width: 40px;
	height: 45px;
}
#Energy {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/quoin/quoin__x1_1_x1_2_x1_3_x1_4_x1_5_x1_6_x1_7_x1_8_png_1354829599.png');
	background-position: 0px -90px;
	width: 40px;
	height: 45px;
}
#Currant {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/quoin/quoin__x1_1_x1_2_x1_3_x1_4_x1_5_x1_6_x1_7_x1_8_png_1354829599.png');
	background-position: 0px -135px;
	width: 40px;
	height: 45px;
}
#Mystery {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/quoin/quoin__x1_1_x1_2_x1_3_x1_4_x1_5_x1_6_x1_7_x1_8_png_1354829599.png');
	background-position: 0px -180px;
	width: 40px;
	height: 45px;
}
#Favor {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/quoin/quoin__x1_1_x1_2_x1_3_x1_4_x1_5_x1_6_x1_7_x1_8_png_1354829599.png');
	background-position: 0px -225px;
	width: 40px;
	height: 45px;
}
#Time {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/quoin/quoin__x1_1_x1_2_x1_3_x1_4_x1_5_x1_6_x1_7_x1_8_png_1354829599.png');
	background-position: 0px -270px;
	width: 40px;
	height: 45px;
}
#Quarazy {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/quoin/quoin__x1_1_x1_2_x1_3_x1_4_x1_5_x1_6_x1_7_x1_8_png_1354829599.png');
	background-position: 0px -315px;
	width: 40px;
	height: 45px;
}
#Alph {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_alph/npc_shrine_alph__x1_open_png_1354831207.png');
	background-size: 226.5px 188px; /*906 / 4, 752 / 4*/
	width: 37.75px; /*151 / 4*/
	height: 47px; /*188 / 4 */
}
#Cosma {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_cosma/npc_shrine_cosma__x1_open_png_1354831212.png');
	background-size: 226.5px 188px; /*906 / 4, 752 / 4*/
	width: 37.75px; /*151 / 4*/
	height: 47px; /*188 / 4 */
}
#Friendly {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_friendly/npc_shrine_friendly__x1_open_png_1354831217.png');
	background-size: 226.5px 188px; /*906 / 4, 752 / 4*/
	width: 37.75px; /*151 / 4*/
	height: 47px; /*188 / 4 */
}
#Grendaline {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_grendaline/npc_shrine_grendaline__x1_open_png_1354831222.png');
	background-size: 226.5px 188px; /*906 / 4, 752 / 4*/
	width: 37.75px; /*151 / 4*/
	height: 47px; /*188 / 4 */
}
#Humbaba {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_humbaba/npc_shrine_humbaba__x1_open_png_1354831227.png');
	background-size: 226.5px 188px; /*906 / 4, 752 / 4*/
	width: 37.75px; /*151 / 4*/
	height: 47px; /*188 / 4 */
}
#Lem {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_lem/npc_shrine_lem__x1_open_png_1354831232.png');
	background-size: 226.5px 188px; /*906 / 4, 752 / 4*/
	width: 37.75px; /*151 / 4*/
	height: 47px; /*188 / 4 */
}
#Mab {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_mab/npc_shrine_mab__x1_open_png_1354831237.png');
	background-size: 226.5px 188px; /*906 / 4, 752 / 4*/
	width: 37.75px; /*151 / 4*/
	height: 47px; /*188 / 4 */
}
#Pot {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_pot/npc_shrine_pot__x1_open_png_1354831241.png');
	background-size: 226.5px 188px; /*906 / 4, 752 / 4*/
	width: 37.75px; /*151 / 4*/
	height: 47px; /*188 / 4 */
}
#Spriggan {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_spriggan/npc_shrine_spriggan__x1_open_png_1354831246.png');
	background-size: 226.5px 188px; /*906 / 4, 752 / 4*/
	width: 37.75px; /*151 / 4*/
	height: 47px; /*188 / 4 */
}
#Tii {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_ti/npc_shrine_ti__x1_open_png_1354831256.png');
	background-size: 226.5px 188px; /*906 / 4, 752 / 4*/
	width: 37.75px; /*151 / 4*/
	height: 47px; /*188 / 4 */
}
#Zille {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_zille/npc_shrine_zille__x1_open_png_1354831251.png');
	background-size: 226.5px 188px; /*906 / 4, 752 / 4*/
	width: 37.75px; /*151 / 4*/
	height: 47px; /*188 / 4 */
}
#AlphFirebog {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_firebog_alph/npc_shrine_firebog_alph__x1_open_png_1354832764.png');
	background-size: 246px 212px; /*984 / 4, 848 / 4*/
	width: 41px; /*164 / 4*/
	height: 53px; /*212 / 4 */
}
#CosmaFirebog {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_firebog_cosma/npc_shrine_firebog_cosma__x1_open_png_1354832771.png');
	background-size: 246px 212px; /*984 / 4, 848 / 4*/
	width: 41px; /*164 / 4*/
	height: 53px; /*212 / 4 */
}
#FriendlyFirebog {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_firebog_friendly/npc_shrine_firebog_friendly__x1_open_png_1354832798.png');
	background-size: 246px 212px; /*984 / 4, 848 / 4*/
	width: 41px; /*164 / 4*/
	height: 53px; /*212 / 4 */
}
#GrendalineFirebog {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_firebog_grendaline/npc_shrine_firebog_grendaline__x1_open_png_1354832806.png');
	background-size: 246px 212px; /*984 / 4, 848 / 4*/
	width: 41px; /*164 / 4*/
	height: 53px; /*212 / 4 */
}
#HumbabaFirebog {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_firebog_humbaba/npc_shrine_firebog_humbaba__x1_open_png_1354832813.png');
	background-size: 246px 212px; /*984 / 4, 848 / 4*/
	width: 41px; /*164 / 4*/
	height: 53px; /*212 / 4 */
}
#LemFirebog {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_firebog_lem/npc_shrine_firebog_lem__x1_open_png_1354832820.png');
	background-size: 246px 212px; /*984 / 4, 848 / 4*/
	width: 41px; /*164 / 4*/
	height: 53px; /*212 / 4 */
}
#MabFirebog {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_firebog_mab/npc_shrine_firebog_mab__x1_open_png_1354832828.png');
	background-size: 246px 212px; /*984 / 4, 848 / 4*/
	width: 41px; /*164 / 4*/
	height: 53px; /*212 / 4 */
}
#PotFirebog {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_firebog_pot/npc_shrine_firebog_pot__x1_open_png_1354832834.png');
	background-size: 246px 212px; /*984 / 4, 848 / 4*/
	width: 41px; /*164 / 4*/
	height: 53px; /*212 / 4 */
}
#SprigganFirebog {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_firebog_spriggan/npc_shrine_firebog_spriggan__x1_open_png_1354832841.png');
	background-size: 246px 212px; /*984 / 4, 848 / 4*/
	width: 41px; /*164 / 4*/
	height: 53px; /*212 / 4 */
}
#TiiFirebog {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_firebog_tii/npc_shrine_firebog_tii__x1_open_png_1354832848.png');
	background-size: 246px 212px; /*984 / 4, 848 / 4*/
	width: 41px; /*164 / 4*/
	height: 53px; /*212 / 4 */
}
#ZilleFirebog {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_firebog_zille/npc_shrine_firebog_zille__x1_open_png_1354832855.png');
	background-size: 246px 212px; /*984 / 4, 848 / 4*/
	width: 41px; /*164 / 4*/
	height: 53px; /*212 / 4 */
}
#AlphIx {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_ix_alph/npc_shrine_ix_alph__x1_open_png_1354831261.png');
	background-size: 210px 270px; /*840 / 4, 1080 / 5*/
	width: 42px; /*168 / 4*/
	height: 54px; /*216 / 4 */
}
#CosmaIx {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_ix_cosma/npc_shrine_ix_cosma__x1_open_png_1354831267.png');
	background-size: 210px 270px; /*840 / 4, 1080 / 5*/
	width: 42px; /*168 / 4*/
	height: 54px; /*216 / 4 */
}
#FriendlyIx {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_ix_friendly/npc_shrine_ix_friendly__x1_open_png_1354831272.png');
	background-size: 210px 270px; /*840 / 4, 1080 / 5*/
	width: 42px; /*168 / 4*/
	height: 54px; /*216 / 4 */
}
#GrendalineIx {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_ix_grendaline/npc_shrine_ix_grendaline__x1_open_png_1354831277.png');
	background-size: 210px 270px; /*840 / 4, 1080 / 5*/
	width: 42px; /*168 / 4*/
	height: 54px; /*216 / 4 */
}
#HumbabaIx {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_ix_humbaba/npc_shrine_ix_humbaba__x1_open_png_1354831282.png');
	background-size: 210px 270px; /*840 / 4, 1080 / 5*/
	width: 42px; /*168 / 4*/
	height: 54px; /*216 / 4 */
}
#LemIx {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_ix_lem/npc_shrine_ix_lem__x1_open_png_1354831287.png');
	background-size: 210px 270px; /*840 / 4, 1080 / 5*/
	width: 42px; /*168 / 4*/
	height: 54px; /*216 / 4 */
}
#MabIx {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_ix_mab/npc_shrine_ix_mab__x1_open_png_1354831292.png');
	background-size: 210px 270px; /*840 / 4, 1080 / 5*/
	width: 42px; /*168 / 4*/
	height: 54px; /*216 / 4 */
}
#PotIx {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_ix_pot/npc_shrine_ix_pot__x1_open_png_1354831298.png');
	background-size: 210px 270px; /*840 / 4, 1080 / 5*/
	width: 42px; /*168 / 4*/
	height: 54px; /*216 / 4 */
}
#SprigganIx {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_ix_spriggan/npc_shrine_ix_spriggan__x1_open_png_1354831303.png');
	background-size: 210px 270px; /*840 / 4, 1080 / 5*/
	width: 42px; /*168 / 4*/
	height: 54px; /*216 / 4 */
}
#TiiIx {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_ix_ti/npc_shrine_ix_ti__x1_open_png_1354831313.png');
	background-size: 210px 270px; /*840 / 4, 1080 / 5*/
	width: 42px; /*168 / 4*/
	height: 54px; /*216 / 4 */
}
#ZilleIx {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_ix_zille/npc_shrine_ix_zille__x1_open_png_1354831308.png');
	background-size: 210px 270px; /*840 / 4, 1080 / 5*/
	width: 42px; /*168 / 4*/
	height: 54px; /*216 / 4 */
}
#AlphUralia {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_uralia_alph/npc_shrine_uralia_alph__x1_open_png_1354831859.png');
	background-size: 189px 188px; /*756 / 4, 752 / 4*/
	width: 31.5px; /*126 / 4*/
	height: 47px; /*188 / 4 */
}
#CosmaUralia {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_uralia_cosma/npc_shrine_uralia_cosma__x1_open_png_1354831867.png');
	background-size: 189px 188px; /*756 / 4, 752 / 4*/
	width: 31.5px; /*126 / 4*/
	height: 47px; /*188 / 4 */
}
#FriendlyUralia {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_uralia_friendly/npc_shrine_uralia_friendly__x1_open_png_1354831874.png');
	background-size: 189px 188px; /*756 / 4, 752 / 4*/
	width: 31.5px; /*126 / 4*/
	height: 47px; /*188 / 4 */
}
#GrendalineUralia {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_uralia_grendaline/npc_shrine_uralia_grendaline__x1_open_png_1354831881.png');
	background-size: 189px 188px; /*756 / 4, 752 / 4*/
	width: 31.5px; /*126 / 4*/
	height: 47px; /*188 / 4 */
}
#HumbabaUralia {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_uralia_humbaba/npc_shrine_uralia_humbaba__x1_open_png_1354831888.png');
	background-size: 189px 188px; /*756 / 4, 752 / 4*/
	width: 31.5px; /*126 / 4*/
	height: 47px; /*188 / 4 */
}
#LemUralia {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_uralia_lem/npc_shrine_uralia_lem__x1_open_png_1354831895.png');
	background-size: 189px 188px; /*756 / 4, 752 / 4*/
	width: 31.5px; /*126 / 4*/
	height: 47px; /*188 / 4 */
}
#MabUralia {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_uralia_mab/npc_shrine_uralia_mab__x1_open_png_1354831902.png');
	background-size: 189px 188px; /*756 / 4, 752 / 4*/
	width: 31.5px; /*126 / 4*/
	height: 47px; /*188 / 4 */
}
#PotUralia {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_uralia_pot/npc_shrine_uralia_pot__x1_open_png_1354831908.png');
	background-size: 189px 188px; /*756 / 4, 752 / 4*/
	width: 31.5px; /*126 / 4*/
	height: 47px; /*188 / 4 */
}
#SprigganUralia {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_uralia_spriggan/npc_shrine_uralia_spriggan__x1_open_png_1354831915.png');
	background-size: 189px 188px; /*756 / 4, 752 / 4*/
	width: 31.5px; /*126 / 4*/
	height: 47px; /*188 / 4 */
}
#TiiUralia {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_uralia_ti/npc_shrine_uralia_ti__x1_open_png_1354831922.png');
	background-size: 189px 188px; /*756 / 4, 752 / 4*/
	width: 31.5px; /*126 / 4*/
	height: 47px; /*188 / 4 */
}
#ZilleUralia {
	background-image: url('https://raw.githubusercontent.com/RobertMcDermot/coUspritesheets/master/spritesheets/npc_shrine_uralia_zille/npc_shrine_uralia_zille__x1_open_png_1354831929.png');
	background-size: 189px 188px; /*756 / 4, 752 / 4*/
	width: 31.5px; /*126 / 4*/
	height: 47px; /*188 / 4 */
}